<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Status</title>
</head>
<body>
<div layout:fragment="content">

    <div class="col-md-4 offset-md-4 text-center">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h4>Registration is successful</h4>
                </div>
                <div class="card-text">
                    <h5>A verification email is sent to your registered email. <br/>Please verify your account.</h5>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
