<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Registration</title>
</head>

<body>
<div layout:fragment="content">

    <div class="col-md-4 offset-md-4">

        <div class="card">
            <div class="card-header text-center">
                <h3>Password Reset Form</h3>
            </div>
            <div class="card-body">
                <div class="alert alert-danger" role="alert"  th:if="${errorMessage}">
                    <span th:text="${errorMessage}"></span>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                </div>
                <form id="resetPasswordForm" method="post" th:action="@{/reset-password}" th:object="${resetPassword}">
                    <input type="hidden" th:field="*{token}"  name="token">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email*</label>
                        <input type="text" id="email" name="email"
                               readonly
                               th:field="*{email}"
                               class="form-control"
                               th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                               placeholder="Enter email" />
                        <div class="invalid-feedback"  th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password*</label>
                        <input type="password" id="password" name="password"
                               th:field="*{password}"
                               class="form-control"
                               th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"
                               placeholder="Enter password" />
                        <div class="invalid-feedback"  th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Not matching</div>
                    </div>
                    <div class="mb-3">
                        <label for="confirmedPassword" class="form-label">Confirm Password*</label>
                        <input type="password" id="confirmedPassword"
                         class="form-control"
                        placeholder="Confirm password" />
                        <div class="invalid-feedback" style="display:none" id="passwordMismatchError">Password not matching</div>
                    </div>


                    <button type="submit" class="btn btn-primary" onclick="return checkPassword()">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>

</body>
</html>
