<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Page not found</title>
</head>
<body>
<div layout:fragment="content">

    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Ooops, Something went wrong!</h4>
        <h5>Page not found</h5>
        <hr>
        <p class="mb-0"><a href="/" class="alert-link">Go Home</a></p>
    </div>

</div>
</body>
</html>
