<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      layout:decorate="~{layout}">
<head>
    <title th:text="${category.name}">Category</title>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

<div layout:fragment="content">
    <div>
        <ul class="nav justify-content-center">
            <li class="nav-item" th:each="category: ${categories}">
                <a class="nav-link" href="#"
                   th:href="${'/c/'+category.slug}"
                   th:text="${category.name}">Category</a>
            </li>
        </ul>
    </div>
    <div class="container text-center pt-3 pb-3" >
        <h2 th:text="${category.description}">Category Description</h2>
    </div>
    <div class="pt-3">
    <div class="row">
    <div class="col-md-8 offset-2">
        <div th:replace="~{fragments/pagination :: pagination}"> </div>

        <div>
            <div class="alert alert-warning" role="alert"
                 th:if="${postsData.data == null || postsData.data.isEmpty() }">
                <h3 class="alert-heading">No results found</h3>
            </div>
            <div class="p-2" th:each="post: ${postsData.data}">
                <div th:replace="~{fragments/post :: post}"></div>
            </div>

        </div>

        <div th:replace="~{fragments/pagination :: pagination}"> </div>
    </div>
    </div>
    </div>
</div>
<div layout:fragment="pageScripts">
</div>
</body>
</html>
