version: "3.8"
services:
  techbuzz:
    image: sivaprasadreddy/techbuzz
    container_name: techbuzz
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DB_HOST: "${DB_HOST}"
      DB_PORT: "${DB_PORT}"
      DB_DATABASE: "${DB_DATABASE}"
      DB_USERNAME: "${DB_USERNAME}"
      DB_PASSWORD: "${DB_PASSWORD}"
      EMAIL_PROVIDER: "${EMAIL_PROVIDER}"
      SENDGRID_API_KEY: "${SENDGRID_API_KEY}"
      MAIL_HOST: "${MAIL_HOST}"
      MAIL_PORT: "${MAIL_PORT}"
    deploy:
      resources:
        limits:
          memory: 1024m

  techbuzz-db:
    image: postgres:15.2-alpine
    container_name: techbuzz-db
    environment:
      POSTGRES_USER: "${DB_USERNAME}"
      POSTGRES_PASSWORD: "${DB_PASSWORD}"
      POSTGRES_DB: "${DB_DATABASE}"
    ports:
      - "15432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  mailhog:
    image: mailhog/mailhog
    platform: linux/x86_64
    container_name: mailhog
    ports:
      - "1025:1025"
      - "8025:8025"
