<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"> TechBuzz </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <!--<link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.css">-->
    <link rel="stylesheet" th:href="@{/assets/css/main.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet"/>
</head>

<body class="antialiased text-gray-500 dark:text-gray-300 bg-gray-100 dark:bg-gray-800">
<nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="#" class="flex items-center">
            <span class="self-center text-2xl font-extrabold whitespace-nowrap dark:text-white">TechBuzz</span>
        </a>
        <div class="flex md:order-2">
            <a sec:authorize="!isAuthenticated()" href="/login"
               class="mr-2 bg-gray-900 hover:bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-gray-50  font-semibold h-12 px-6 rounded-lg w-full flex items-center justify-center sm:w-auto dark:bg-blue-500 dark:highlight-white/20  dark:hover:bg-sky-400">
                Login
            </a>
            <a sec:authorize="isAuthenticated()" href="/logout"
               class="mr-2 bg-gray-900 hover:bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-gray-50  font-semibold h-12 px-6 rounded-lg w-full flex items-center justify-center sm:w-auto dark:bg-red-500 dark:highlight-white/20  dark:hover:bg-sky-400">
                Logout
            </a>
            <div th:replace="~{fragments/headerButtons :: themeToggle}"></div>
            <div th:replace="~{fragments/headerButtons :: smMenu}"></div>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
            <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li><a href="/"
                       class="block font-bold py-2 pl-4 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
                       aria-current="page">Home</a></li>
                <li><a href="#" th:href="@{/posts/new}"
                       class="block font-bold py-2 pl-4 pr-4 text-gray-900 rounded hover:bg-gray-10 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
                    Add
                </a></li>
                <li sec:authorize="isAuthenticated()"><a href="#"
                                                         class="block font-bold py-2 pl-4 pr-4 text-gray-900 rounded hover:bg-gray-10 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
                    <span sec:authentication="principal.name">User</span></a></a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="dark:bg-gray-900  ">
    <div layout:fragment="content">
        <!-- Your Page Content Here -->
    </div>
</main>
<script src="/webjars/jquery/3.6.4/jquery.js"></script>
<script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.js"></script>
<script th:src="@{'/assets/libs/selectize.js-0.13.6/js/standalone/selectize.min.js'}"></script>
<script th:src="@{'/assets/js/common.js'}"></script>
<script th:src="@{'/assets/js/app.js'}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
<div layout:fragment="pageScripts">

</div>
</body>
<script>

    if (localStorage.getItem("color-theme") === "dark" ||
      (!("color-theme" in localStorage) &&
    	window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }

    var themeToggleBtn = document.querySelectorAll("#theme-toggle");

    themeToggleBtn.forEach((x) =>
      x.addEventListener("click", function () {
    	// toggle icons inside button

    	// if set via local storage previously
    	if (localStorage.getItem("color-theme")) {
    	  if (localStorage.getItem("color-theme") === "light") {
    		document.documentElement.classList.add("dark");
    		localStorage.setItem("color-theme", "dark");
    	  } else {
    		document.documentElement.classList.remove("dark");
    		localStorage.setItem("color-theme", "light");
    	  }

    	  // if NOT set via local storage previously
    	} else {
    	  if (document.documentElement.classList.contains("dark")) {
    		document.documentElement.classList.remove("dark");
    		localStorage.setItem("color-theme", "light");
    	  } else {
    		document.documentElement.classList.add("dark");
    		localStorage.setItem("color-theme", "dark");
    	  }
    	}
      })
    );


</script>

</html>