<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<body>
<div th:fragment="post" th:id="'post-container-' + ${post.id}">
    <div class="card post">
        <div class="card-body">
            <h4 class="card-title">
                <a href="#" th:href="${post.url}" th:text="${post.title}" target="_blank"></a>
            </h4>
            <p class="card-text">
            <div class="pb-2 text-muted">
                Posted By: <a href="#" class="text-dark"
                              th:href="@{'/users/'+ ${post.createdBy.id}}"
                              th:text="${post.createdBy.name}">Name</a>
                Date: <span class="text-dark"
                            th:text="${#temporals.format(post.createdAt, 'dd-MMM-yyyy')}">Date</span>
                Category: <span class="text-dark"
                                th:text="${post.category.name}">Category</span>
            </div>
            <div th:text="${post.content}">
                Post content
            </div>

            <p class="mt-3 mb-0">
                    <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Upvote Count">
                        <button class="btn btn-success disabled">
                            <span th:text="${post.getUpVoteCount()}" class="p-2">1</span>
                            <i class="fa-solid fa-thumbs-up"></i>
                        </button>
                    </span>
                <span data-bs-toggle="tooltip" data-bs-placement="top"
                      data-bs-title="Down-vote Count">
                        <button class="btn btn-danger disabled">
                            <span th:text="${post.getDownVoteCount()}" class="p-2">1</span>
                            <i class="fa-solid fa-thumbs-down"></i>
                        </button>
                    </span>
            </p>
        </div>
    </div>
</div>
</body>
</html>