<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      layout:decorate="~{layout}">
<head>
    <title th:text="${category.name}">Category</title>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

<div layout:fragment="content">
    <div>
        <ul class="nav justify-content-center">
            <li class="nav-item" th:each="category: ${categories}">
                <a class="nav-link" href="#" th:href="${'/c/'+category.slug}" th:text="${category.name}">Category</a>
            </li>
        </ul>
    </div>
    <div class="container text-center pt-3 pb-3" >
        <h2 th:text="${category.description}">Category Description</h2>
    </div>
    <div class="pt-3">
    <div class="row">
    <div class="col-md-8 offset-2">
        <div th:replace="~{fragments/pagination :: pagination}"> </div>

        <div>
            <div class="alert alert-warning" role="alert"
                 th:if="${postsData.data == null || postsData.data.isEmpty() }">
                <h3 class="alert-heading">No results found</h3>
            </div>
            <div class="p-2" th:each="post: ${postsData.data}">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" th:text="${post.title}">title</h4>
                        <p class="card-text">
                        <div>
                            <a href="#" th:href="${post.url}" th:text="${post.url}" target="_blank"></a>
                        </div>
                        <div th:text="${post.content}">
                            Post content
                        </div>
                        <p sec:authorize="isAuthenticated()" class="mt-3 mb-0" >

                            <a th:if="${post.editable}" class="btn btn-primary" href="#" th:href="${'/posts/'+post.id+'/edit'}">
                                <i class="fas fa-edit" ></i> Edit
                            </a>

                            <button th:if="${post.editable}" class="btn btn-danger"
                                    th:onclick="'javascript:deletePost( \''+${post.id}+'\');'" >
                                <i class="fas fa-trash-alt" ></i> Delete
                            </button>

                            <button class="btn btn-success"
                                    th:classappend="${post.upVoted()} ? disabled : ''"
                                    th:onclick="'javascript:addVote( \''+${post.id}+'\', 1);'" >
                                <span th:text="${post.getUpVoteCount()}">1</span>
                                &nbsp;&nbsp; <i class="fa-solid fa-thumbs-up"></i>
                            </button>

                            <button class="btn btn-danger"
                                    th:classappend="${post.downVoted()} ? disabled : ''"
                                    th:onclick="'javascript:addVote( \''+${post.id}+'\', -1);'" >
                                <span th:text="${post.getDownVoteCount()}">1</span>
                                &nbsp;&nbsp; <i class="fa-solid fa-thumbs-down"></i>
                            </button>
                        </p>
                        <p sec:authorize="!isAuthenticated()" class="mt-3 mb-0" >
                            <span data-bs-toggle="tooltip" data-bs-placement="top"
                                  data-bs-title="Login to vote">
                                <button class="btn btn-success disabled" >
                                    <span th:text="${post.getUpVoteCount()}">1</span>
                                    &nbsp;&nbsp; <i class="fa-solid fa-thumbs-up"></i>
                                </button>
                            </span>
                            <span data-bs-toggle="tooltip" data-bs-placement="top"
                                  data-bs-title="Login to vote">
                                <button class="btn btn-danger disabled">
                                    <span th:text="${post.getDownVoteCount()}">1</span>
                                    &nbsp;&nbsp; <i class="fa-solid fa-thumbs-down"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div th:replace="~{fragments/pagination :: pagination}"> </div>
    </div>
    </div>
    </div>
</div>
<div layout:fragment="pageScripts">
</div>
</body>
</html>
