<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Edit Post</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">

        <div class="col-md-6 offset-md-3">

            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Edit Post</h3>
                </div>
                <div class="card-body">
                    <form id="editForm" method="post" th:method="put"
                          th:action="${'/posts/'+post.id}" th:object="${post}">
                        <input type="hidden" name="id" th:value="${post.id}"/>

                        <div class="mb-3">
                            <label for="title" class="form-label">Title*</label>
                            <input type="text" id="title" name="title"
                                   th:field="*{title}"
                                   th:value="${post.title}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('title')} ? 'is-invalid' : ''"
                                   placeholder="Enter title"
                            />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}"
                                 th:errors="*{title}">Title Error</div>
                        </div>
                        <div class="mb-3">
                            <label for="url" class="form-label">URL</label>
                            <input type="text" id="url" name="url"
                                   th:field="*{url}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('url')} ? 'is-invalid' : ''"
                                   placeholder="Enter url"
                            />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('url')}"
                                 th:errors="*{url}">url Error</div>
                        </div>

                        <div class="mb-3">
                            <label for="categoryId" class="form-label">Category*</label>
                            <input type="text" id="categoryId" name="categoryId"
                                   class="form-control"
                                   placeholder="Select category"
                                   th:field="*{categoryId}"
                                   th:value="${post.categoryId}"
                                   th:classappend="${#fields.hasErrors('categoryId')} ? 'is-invalid' : ''"
                            />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('categoryId')}"
                                 th:errors="*{categoryId}">Category Error</div>
                        </div>

                        <div class="mb-3">
                            <label for="content" class="form-label">Content*</label>
                            <textarea type="text" id="content" name="content"
                                      rows="5"
                                   class="form-control"
                                   placeholder="Enter content"
                                   th:field="*{content}"
                                   th:value="${post.content}"
                                   th:classappend="${#fields.hasErrors('content')} ? 'is-invalid' : ''"
                            ></textarea>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}"
                                 th:errors="*{content}">content Error</div>
                        </div>


                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="pageScripts">
    <script>
        $(function () {
            initCategoriesAutoComplete("#categoryId")
        });
    </script>
</div>
</body>
</html>
