<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Status</title>
</head>
<body>
<div layout:fragment="content">

    <div class="col-md-4 offset-4 text-center">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <div th:if="${success}">
                        <h4>Your email is verified successfully</h4>
                    </div>
                    <div th:if="${!success}">
                        <h4>Your email verification is failed</h4>
                    </div>
                </div>
                <div class="card-text">
                    <div th:if="${success}">
                        <h5>You can <a th:href="@{/login}">Login</a> or visit <a th:href="@{/}">Home</a> page</h5>
                    </div>
                    <div th:if="${!success}">
                        <h5>Please check your email and verify your account</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
