<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Login</title>
</head>
<body>

<div layout:fragment="content">
    <div class="col-md-3 offset-5 card ">

        <div class="card-header text-center">
            <h3>Login into TechBuzz</h3>
        </div>
        <div class="card-body">
            <!--<div th:if="${param.error}">
                <div class="alert alert-danger">Invalid Email and Password.</div>
            </div>-->
            <div th:if="${errorMessage != null}">
                <div class="alert alert-danger" th:text="${errorMessage}">Error Message</div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-success">You have been logged out.</div>
            </div>
            <div>
                <form id="loginForm" method="post" th:action="@{/login}">
                    <div class="mb-3">
                        <label for="username" class="control-label">Email*</label>
                        <input type="text" id="username" name="username"
                               class="form-control" placeholder="Email" />
                    </div>

                    <div class="mb-3">
                        <label for="password" class="control-label">Password*</label>
                        <input type="password" id="password" name="password"
                               class="form-control" placeholder="Password" />
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
            <hr/>
            <div class="pt-3 text-center">
                <h5>Or, You can </h5>
                <a href="/oauth2/authorization/github" class="btn btn-dark">Login with GitHub <i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
