<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Registration</title>
</head>
<body>
<div layout:fragment="content">

    <div class="row">

        <div class="col-md-4 offset-md-4">

            <div class="card">
                <div class="card-header">
                    <h3>Registration Form</h3>
                </div>
                <div class="card-body">
                    <form id="registrationForm" method="post" th:action="@{/registration}" th:object="${user}">
                        <div class="mb-3">
                            <label for="name" class="control-label">Name*</label>
                            <input type="text" id="name" name="name"
                                   th:field="*{name}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"
                                   placeholder="Enter Name"/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="control-label">Email*</label>
                            <input type="text" id="email" name="email"
                                   th:field="*{email}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                                   placeholder="Enter email" />
                            <div class="invalid-feedback"  th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="control-label">Password*</label>
                            <input type="password" id="password" name="password"
                                   th:field="*{password}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"
                                   placeholder="Enter password" />
                            <div class="invalid-feedback"  th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
