<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Status</title>
</head>
<body>
<div layout:fragment="content">

    <div class="row">

        <div class="col-md-4 offset-md-4 text-center">
            <h3>Registration is successful</h3>
            <h4>A verification email is sent to your registered email. <br/>Please verify your account.</h4>
        </div>
    </div>
</div>

</body>
</html>
